<section>
    <!-- Header section displaying client status -->
    <header>
        <div class="client-status">
            <!-- Client ID -->
            <span class="number">012345678910</span>
            <!-- Client status -->
            <p>قيد الإستخدام</p>
        </div>

        <!-- Dropdown menu for managing client options -->
        <div class="controler-wraper">
            <div class="status-controler">
                <span></span>
                <span></span>
                <span></span>
                <div class="user-control">
                    <div class="control edit">
                        <img src="../../../../../assets/images/pen-icon.svg" alt="Edit icon">
                        <p>تعديل الرقم</p>
                    </div>
                    <div class="control cancel">
                        <img src="../../../../../assets/images/cancel-icon.svg" alt="Cancel icon">
                        <p>إلغاء التعيين</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Client details section -->
    <article class="client-details">
        <!-- First row of client information -->
        <div class="row">
            <div class="info">
                <h3>اسم البروتوكول</h3>
                <p><span class="text">فودافون مصر</span></p>
            </div>
            <div class="info">
                <h3>الدولة</h3>
                <div class="text-wraper" data-fulltext="المملكة الأردنية الهاشمية">
                    <img src="../../../../../assets/images/saudi-flag.png" alt="Saudi Arabia Flag">
                    <p>المملكة الأردنية الهاشمية</p>
                </div>
            </div>
            <div class="info">
                <h3>العميل الحالي</h3>
                <div class="text-wraper" data-fulltext="الشركة الألمانية للإبادة و جميع أنواع التطهير">
                    <img src="../../../../../assets/images/german-compony-flag.svg" alt="Saudi Arabia Flag">
                    <p>الشركة الألمانية للإبادة و جميع أنواع
                        التطهير</p>
                </div>
            </div>
            <div class="info">
                <h3>عدد الإمتدادات</h3>
                <p> <span class="number">09</span> </p>
            </div>
        </div>
        <!-- Second  row of client information -->
        <div class="row">
            <div class="info">
                <h3>تاريخ آخر شحنة</h3>
                <p><span class="number">2024/12/29</span></p>
            </div>
            <div class="info">
                <h3>الرصيد الحالي</h3>
                <p> <span class="number">5000 </span> <span class="text">ج.م</span></p>
            </div>
            <div class="info">
                <h3>الرصيد المستخدم للعميل الحالي</h3>
                <p><span class="number">5000 </span> <span class="text">ج.م</span></p>
            </div>
            <div class="info">
                <h3>الرصيد المستخدم للرقم ككل</h3>
                <p><span class="number">5000 </span> <span class="text">ج.م</span></p>
            </div>
        </div>
    </article>
</section>