<section>
    <!-- Container for the table -->
    <div class="table-container">
        <table>
            <!-- Table Header -->
            <thead>
                <tr>
                    <th>العميل</th>
                    <th>تاريخ التعيين</th>
                    <th>تاريخ إلغاء التعيين</th>
                    <th>المسؤول عن التعيين</th>
                    <th>الدقائق المحلية</th>
                    <th>الدقائق الدولية</th>
                    <th>المبلغ</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                <!-- Table Row -->
                <tr>
                    <td>
                        <div>
                            <div class="flex-wraper">
                                <img src="../../../../../assets/images/german-compony-flag.svg" alt="Country Flag">
                                <div class="text-wraper" data-fulltext="الشركة الألمانية للإبادة و جميع أنواع التطهير">
                                    <p>الشركة الألمانية للإبادة و جميع أنواع
                                        التطهير</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="number">01/12/2024</td>
                    <td>-</td>
                    <td>عبدالرحيم إسماعيل ناصف</td>
                    <td class="number">7654</td>
                    <td class="number">122</td>
                    <td><span class="number">61890</span> ح.م</td>
                </tr>
                <!-- Table Row -->
                <tr>
                    <td>
                        <div>
                            <div class="flex-wraper">
                                <img src="../../../../../assets/images/german-compony-flag.svg" alt="Country Flag">
                                <div class="text-wraper" data-fulltext="الشركة الألمانية للإبادة و جميع أنواع التطهير">
                                    <p>الشركة الألمانية للإبادة و جميع أنواع
                                        التطهير</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="number">01/12/2024</td>
                    <td class="number">01/12/2024</td>
                    <td>عبدالرحيم إسماعيل ناصف</td>
                    <td class="number">7654</td>
                    <td class="number">122</td>
                    <td><span class="number">61890</span> ح.م</td>
                </tr>
                <!-- Table Row -->
                <tr>
                    <td>
                        <div>
                            <div class="flex-wraper">
                                <img src="../../../../../assets/images/german-compony-flag.svg" alt="Country Flag">
                                <div class="text-wraper" data-fulltext="الشركة الألمانية للإبادة و جميع أنواع التطهير">
                                    <p>الشركة الألمانية للإبادة و جميع أنواع
                                        التطهير</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="number">01/12/2024</td>
                    <td class="number">01/12/2024</td>
                    <td>عبدالرحيم إسماعيل ناصف</td>
                    <td class="number">7654</td>
                    <td class="number">122</td>
                    <td><span class="number">61890</span> ح.م</td>
                </tr>
                <!-- Table Row -->
                <tr>
                    <td>
                        <div>
                            <div class="flex-wraper">
                                <img src="../../../../../assets/images/german-compony-flag.svg" alt="Country Flag">
                                <div class="text-wraper" data-fulltext="الشركة الألمانية للإبادة و جميع أنواع التطهير">
                                    <p>الشركة الألمانية للإبادة و جميع أنواع
                                        التطهير</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="number">01/12/2024</td>
                    <td class="number">01/12/2024</td>
                    <td>عبدالرحيم إسماعيل ناصف</td>
                    <td class="number">7654</td>
                    <td class="number">122</td>
                    <td><span class="number">61890</span> ح.م</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination Section -->
    <div class="pagination-wraper">
        <!-- Pagination Details -->
        <div class="pagination-details">
            <span>عرض</span>
            <div class="dummy-dropdown">
                <img src="../../../../../assets/images/dropdown-arrow.svg" alt="dropdown arrow">
                <span class="number">10</span>
            </div>
            <span>من أصل</span>
            <span class="number all">55</span>
        </div>

        <!-- Pagination Controls -->
        <div class="pagination-actions">
            <span class="active">&lt;</span>
            <div class="pagination-numbers">
                <button type="button" class="number active">1</button>
                <button type="button" class="number">2</button>
                <button type="button" class="number">3</button>
                <button type="button" class="number">4</button>
                <button type="button" class="number">5</button>
            </div>
            <span>&gt;</span>
        </div>
    </div>
</section>